<div class='row'>
  <div class='col s12 m4'>
    <div class='card'>
      <div class='card-content'>
        <span class='card-title'>Your Profile</span>
        <p>Username: {{profile.username}}</p>
        <p>Email: {{profile.email}}</p>
        <p>Joined: {{profile.added}}</p>
      </div>
    </div>

  </div>
  <div class='col s12 m8'>
    <div class='articles'></div>
      {{#each articles}}
        <div class='card horizontal'>
          <div class='card-stacked'>
            <div class='card-content'>
              <div class='card-title'>{{this.title}}</div>
              <p>{{this.summary}}</p>     
            </div>
            <div class='card-action'>
              <a href={{this.link}}>Link</a>
              <a class='modal-trigger' data-id={{this._id}} href='#{{this._id}}'>Add Comment</a>
              <a class='unsave' href='/unsave/{{this.id}}'>Unsave Article</a>
            </div>
            <div class='card-action notes'>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">Notes</div>
                  <div class="collapsible-body">
                    {{#if notes}}
                    <ul class='notes'>
                      {{#each notes}}
                        <li>
                          <div class="row">
                            <div class="col s12">
                              <div class="card">
                                <div class='card-content'>
                                  <p><span><i class="material-icons left">person</i> {{this.author}}</span></p>
                                  <p>{{this.body}}</p>
                                  <p>Posted: {{this.added}}</p>
                                </div>
                                <div class='card-action'>
                                  <a class='btn btn-danger' href='/delete/note/{{this.id}}'>Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                    {{else}}
                    <p>There are no notes for this article</p>
                    {{/if}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="{{this._id}}" class="modal">
          <div class="modal-content">
            <h4>Add a note!</h4>
            <form action='add/note/{{this._id}}' method='post'>
              <div class='row'>
                <div class='input-field col s12'>
                  <textarea class='materialize-textarea' name='comment'></textarea>
                  <label for='comment'>Comment</label>
                </div>
                <button class='btn add-comment' type='submit' data-id='{{this._id}}'>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      {{/each}}
  </div>
</div>